<%= form_with(model: change, local: true) do |form| %>
  <% if change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(change.errors.count, "error") %> prohibited this change from being saved:</h2>

      <ul>
      <% change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
