<div class="jumbotron">
  <h2 class="site-welcome stick-top">Welcome to the Home of Gentoo Packages</h2>
  <%= form_tag search_packages_path, method: 'get' do %>
    <div class="typeahead-container">
      <div class="typeahead-field">
        <span class="typeahead-query">
          <input id="q" name="q" type="search" autocomplete="off" placeholder="<%= t :find_packages %>" aria-label="<%= t :find_packages %>" autofocus>
        </span>
        <span class="typeahead-button">
          <button type="submit" title="<%= t :find %>" aria-label="<%= t :find %>">
            <span class="typeahead-search-icon"></span><span class="sr-only"><%= t :find %></span>
          </button>
        </span>
      </div>
  </form>
</div>
<% end %>
</div>
