<%= form_with(model: useflag, local: true) do |form| %>
  <% if useflag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(useflag.errors.count, "error") %> prohibited this useflag from being saved:</h2>

      <ul>
      <% useflag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
