<p id="notice"><%= notice %></p>

<h1>Useflags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @useflags.each do |useflag| %>
      <tr>
        <td><%= link_to 'Show', useflag %></td>
        <td><%= link_to 'Edit', edit_useflag_path(useflag) %></td>
        <td><%= link_to 'Destroy', useflag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Useflag', new_useflag_path %>
